@model Inventario.Models.OrdenCompraViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titPantalla = "Orden de Compra";
    var fncPantalla = "Agregar";
    // Set de campos input Date
    DateTime fecha = DateTime.Today;
    var fechadia = fecha.ToString("yyyy-MM-dd");

}

<div class="container-fluid">
    <form asp-action="Create">
        <div class="row">
            <div class="col-lg-12 barra-titulo-form barra-titulo-form">
                <b>@titPantalla</b> - @fncPantalla
                <div class="nav navbar-right" style="padding-right: 10px">
                    <button type="submit" class="btn btn-danger bg-slate-600 btn-labeled btn-sm mr-2">
                        <b>
                            <i class="icon-checkmark3"></i>
                        </b> Confirmar
                    </button>

                    <button type="button" onclick="Cancel();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm">
                        <b>
                            <i class="icon-exit3"></i>
                        </b> Salir
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccNroOrden" class="control-label"></label><label style="color:red;"> * </label>
                            <input asp-for="OccNroOrden" class="form-control" />
                            <span asp-validation-for="OccNroOrden" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaEmision" class="control-label"></label>                            
                            <input asp-for="OccFechaEmision" class="form-control" type="text" value=@fechadia readonly />
                            <span asp-validation-for="OccFechaEmision" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Proveedor</label><label style="color:red;"> * </label>
                            <button type="button" id="Search" class="btn bg-slate-600 btn-labeled btn-sm" data-toggle="modal" data-target="#modalSearch">
                                <b>
                                    <i class="fa fa-search btn-dark btn-sm" style="line-height:1;"> Buscar</i>
                                </b>
                            </button>

                            <input id="NombreProv" class="form-control" readonly/>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="BarraTituloProv" class="barra-separador-form">Datos del Proveedor</div>
                </div>

                <div id="DatosProv">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Dirección</label>
                                <textarea id="DireccionProv" class="form-control" type="text" rows="3" cols="100" style="overflow:auto;resize:none;text-wrap:normal;scrollbar-base-color:ActiveBorder;overflow-y:scroll;height:auto" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Teléfonos</label>
                                <input id="TelefonosProv" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Correos Electrónicos</label>
                                <input id="CorreosProv" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="linea"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaOrden" class="control-label"></label>
                            <input asp-for="OccFechaOrden" class="form-control" type="date" value=@fechadia  />
                            <span asp-validation-for="OccFechaOrden" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaVencimiento" class="control-label"></label>
                            <input asp-for="OccFechaVencimiento" class="form-control" type="date" value=@fechadia />
                            <span asp-validation-for="OccFechaVencimiento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="linea"></div>
                </div>
                <div class="row">
                    
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tablaDetalle"
                                    role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr class="bg-gradient-dark" role="row">
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Código
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Descripción
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Cantidad
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Unidad Medida
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Costo Unitario
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Importe
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            IVA
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            SubTotal
                                        </th>
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                @*                     @{
                                        if (Model.CronogramaDetalleModels != null)
                                        {
                                            string actividad = "";
                                            string estatus = "";

                                            estatus = "Activo";

                                            for (int i = 0; i < Model.CronogramaDetalleModels.Count; i++)
                                            {
                                                //actividad = Model.CronogramaDetalleModels[i].Actividad.NombreActividad;
                                                actividad = libreriaservice.GetActividad(Model.CronogramaDetalleModels[i].ActividadId);
                                                estatus = Enum.GetName(typeof(EstatusEnum), (int)Model.CronogramaDetalleModels[i].EstatusId);
                                                <tr role="row" class="odd">
                                                    @Html.HiddenFor(x => x.CronogramaDetalleModels[i].Id)
                                                    @Html.HiddenFor(x => x.CronogramaDetalleModels[i].ActividadId)
                                                    @Html.HiddenFor(x => x.CronogramaDetalleModels[i].EstatusId)
                                                    <td>
                                                        @actividad
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.CronogramaDetalleModels[i].FechaInicio, new { @class = "input-lg", @readonly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.CronogramaDetalleModels[i].FechaFin, new { @class = "input-lg", @readonly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @estatus
                                                    </td>
                                                    <td>
                                                        <a onclick="EditRow(this);"><i class="icon-pencil7"></i></a>
                                                        <a onclick="DeleteRow(this);"><i class="icon-trash"></i></a>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    } *@
                                </tbody>

                            </table>
                            <div class="nav navbar-left" style="padding-right: 10px">
                                <button type="button" class="btn bg-info-600 btn-labeled btn-sm" data-toggle="modal" data-target="#modalAddRow">
                                    <b>
                                        <i class="icon-plus3"></i>
                                    </b> Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                @*
                <div class="row">
                    <div class="linea"></div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="CliDireccion" class="control-label"></label>
                            <textarea asp-for="CliDireccion" class="form-control" type="text" rows="3" cols="100" style="overflow:auto;resize:none;text-wrap:normal;scrollbar-base-color:ActiveBorder;overflow-y:scroll;height:auto"></textarea>
                            <span asp-validation-for="CliDireccion" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="linea"></div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CliTelefono1" class="control-label"></label>
                            <input asp-for="CliTelefono1" class="form-control" />
                            <span asp-validation-for="CliTelefono1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CliTelefono2" class="control-label"></label>
                            <input asp-for="CliTelefono2" class="form-control" />
                            <span asp-validation-for="CliTelefono2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="CliCorreoE" class="control-label"></label>
                            <input asp-for="CliCorreoE" class="form-control" />
                            <span asp-validation-for="CliCorreoE" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="CliEstatus" class="control-label"></label>
                            <select class="form-control custom-select" asp-for="CliEstatus" asp-items=@ViewBag.Estatus></select>
                            <span asp-validation-for="CliEstatus" class="text-danger"></span>
                        </div>
                    </div>
                </div> *@

            </div>
        </div>
    </form>
</div>

<!-- modal search-->
<div id="modalSearch" class="modal fade">
    <div class="modal-dialog form-validate-jquery" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Agregar Actividad</h6>
            </div>

            <div id="cajaGrid">
            </div>            
            <input id="IdProveedor" type="text" hidden/>
            <div class="modal-footer">
                <div class="nav navbar-right" style="padding-right: 10px;">
                    <button type="submit" id="Buscar" class="btn bg-success btn-labeled btn-sm" data-dismiss="modal" style="color:white;" onclick="SearchProv()">
                        <b>
                            <i class="glyphicon glyphicon-floppy-saved"></i>
                        </b> Confirmar
                    </button>
                    <button type="button" class="btn bg-danger btn-labeled btn-sm" data-dismiss="modal" style="margin-top: 0px;color:white;">
                        <b>
                            <i class="glyphicon glyphicon-floppy-remove"></i>
                        </b> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
<script src="~/js/Libreria.js"></script>
<script type="text/javascript">

    $("#DatosProv").hide();

    $(document).ready(function () {

        $("#cajaGrid").load("/OrdenCompra/_Proveedores");  // Cargar datos de modal para el grid de selección
            
    });

    function SearchProv() {            
        var Id;
        Id = 0;
        Id = $("#IdProveedor").val();

        if(Id > 0) {
            $.ajax({
                url: '@Url.Action("BuscaProveedor", "OrdenCompra")',
                type: 'POST',
                data: { id: Id },
                success: function (result) {
                    
                    $("#NombreProv").val(result.prvNombreCompania);
                    $("#DireccionProv").val(result.prvDireccion);
                    var telef1;
                    var telef2;
                    telef1 = (result.prvTelefono1 == null) ? "" : result.prvTelefono1;
                    telef2 = (result.prvTelefono2 == null) ? "" : result.prvTelefono2;
                    if (telef1 != "" && telef2 != "") {
                        $("#TelefonosProv").val(telef1 + ", " + telef2);
                    } else {
                        if (telef1 != "" && telef2 == "") {
                            $("#TelefonosProv").val(telef1);
                        }
                    }

                    var correo1;
                    var correo2;
                    correo1 = (result.prvCorreoE1 == null) ? "" : result.prvCorreoE1;
                    correo2 = (result.prvCorreoE2 == null) ? "" : result.prvCorreoE2;

                    if (correo1 != "" && correo2 != "") {
                        $("#CorreosProv").val(correo1 + ", " + correo2);
                    } else {
                        if (correo1 != "" && correo2 == "") {
                            $("#CorreosProv").val(correo1);
                        }
                    }

                    
                    $("#DatosProv").show();
                },
                error: function (result) {
                }
            });
        }
    }

        $("#BarraTituloProv").on("click", function () {
            $("#DatosProv").toggle();
        });

        // $("#StateId").change(function () {
        //     var stateId = $(this).val();
        //     $.ajax({
        //         type: "Get",
        //         url: "/Urbanization/GetCityList?stateId=" + stateId,
        //         contentType: "html",
        //         success: function (response) {
        //             $("#CityId").empty();
        //             $("#CityId").append(response);

        //             $("#MunicipalityId").empty();
        //             $("#UrbanizationId").empty();
        //         }
        //     })
        // });


    function Cancel() {
        window.location.href = "/OrdenCompra/Index";
    }
</script>
}




