@model Inventario.Models.OrdenCompraViewModel



@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titPantalla = "Orden de Compra";
    var fncPantalla = "Editar";
    // Set de campos input Date
    DateTime fecha = DateTime.Today;
    var fechadia = fecha.ToString("yyyy-MM-dd");

    var impuesto = ViewBag.IVA[0].Valor;
    double iva;    
    var ProductoId = ViewBag.Productos[0].Value;

    var nombreImp = ViewBag.IVA[0].Nombre;
    iva = Convert.ToInt16(impuesto);

    if (ViewBag.IVA[0].Tipo=="Porcentaje")
    {
        nombreImp = nombreImp + " (%)";
    }

    bool isMismaDirec;

    //isMismaDirec = Model.OccMismaDireccion == 1 ? true : false;    

}

<div class="container-fluid">
    <form asp-action="Edit">
        <div class="row">
            <div class="col-lg-12 barra-titulo-form barra-titulo-form">
                <b>@titPantalla</b> - @fncPantalla
                <div class="nav navbar-right" style="padding-right: 10px">
                    <button type="submit" class="btn btn-danger bg-slate-600 btn-labeled btn-sm mr-2">
                        <b>
                            <i class="icon-checkmark3"></i>
                        </b> Confirmar
                    </button>

                    <button type="button" onclick="Cancel();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm">
                        <b>
                            <i class="icon-exit3"></i>
                        </b> Salir
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccNroOrden" class="control-label"></label><label style="color:red;"> * </label>
                            <input asp-for="OccNroOrden" class="form-control" />
                            <span asp-validation-for="OccNroOrden" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaEmision" class="control-label"></label>
                            <input asp-for="OccFechaEmision" class="form-control" type="text" value=@fechadia readonly />
                            <span asp-validation-for="OccFechaEmision" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Proveedor</label><label style="color:red;"> * </label>
                            <button type="button" id="Search" class="btn bg-slate-600 btn-labeled btn-sm" data-toggle="modal" data-target="#modalSearch">
                                <b>
                                    <i class="fa fa-search btn-dark btn-sm" style="line-height:1;"> Buscar</i>
                                </b>
                            </button>

                            <input id="NombreProv" class="form-control" readonly />
                            <input asp-for="ProveedorId" class="form-control" hidden/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="BarraTituloProv" class="barra-separador-form">
                        <b style="vertical-align:middle;">Datos del Proveedor</b>
                        <div class="nav navbar-right" style="padding-right: 10px">
                            <button type="button" class="btn btn-dark bg-slate-600 btn-labeled btn-sm" style="font-size:smaller">
                                Click aqui para abrir/cerrar
                            </button>
                         </div>
                    </div>
                </div>

                <div id="DatosProv">
                    <div class="row">
                        <div class="checkbox checkbox-switchery">
                            <label>
                                ¿ Usa la misma dirección del proveedor ? : 
                                <input asp-for="OccMismaDireccion" type="checkbox"  class="switchery-primary" >
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Dirección</label>
                                <textarea id="DireccionProv" class="form-control" type="text" rows="3" cols="100" style="overflow:auto;resize:none;text-wrap:normal;scrollbar-base-color:ActiveBorder;overflow-y:scroll;height:auto" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Teléfonos</label>
                                <input id="TelefonosProv" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Correos Electrónicos</label>
                                <input id="CorreosProv" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="linea"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaOrden" class="control-label"></label>
                            <input asp-for="OccFechaOrden" class="form-control" type="date" value=@fechadia />
                            <span asp-validation-for="OccFechaOrden" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OccFechaVencimiento" class="control-label"></label>
                            <input asp-for="OccFechaVencimiento" class="form-control" type="date" value=@fechadia />
                            <span asp-validation-for="OccFechaVencimiento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="linea"></div>
                </div>
                <div class="row">

                    <div class="form-group">
                        <div class="table-responsive ">
                            @{
                                string totImporteFmt = "";
                                string totIvaFmt = "";
                                string totSubTotalFmt = "";
                                decimal totImporte;
                                decimal totIva;
                                decimal totSubTotal;
                                totImporte = 0;
                                totIva = 0;
                                totSubTotal = 0;

                            }
                            <table class="table table-striped table-bordered" id="tablaDetalle" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr class="bg-gradient-dark" role="row">                                        
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;">
                                            Código
                                        </th>
                                        <th tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 25%; text-align:center;">
                                            Descripción
                                        </th>
                                        <th tabindex="2" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;">
                                            Cant.x Unidad
                                        </th>
                                        <th tabindex="3" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 6%; text-align:center;">
                                            Cantidad
                                        </th>
                                        <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;">
                                            Costo Unitario
                                        </th>
                                        <th tabindex="5" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;">
                                            Importe
                                        </th>                           
                                        <th tabindex="6" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;">
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.OrdenCompraDetalleModels != null)
                                        {
                                            string actividad = "";
                                            string estatus = "";

                                            estatus = "Activo";
                                            decimal importe = 0;
                                            string importeFmt;
                                            decimal montoIva = 0;
                                            string montoIvaFmt;
                                            decimal subTotal = 0;
                                            string subTotalFmt;
                                            string codigo;
                                            string nombre;
                                            long cantidad;
                                            string unidadMedida;
                                            decimal precioUnidad;
                                            string precioUnidadFmt;


                                            for (int i = 0; i < Model.OrdenCompraDetalleModels.Count; i++)
                                            {
                                                codigo = Model.OrdenCompraDetalleModels[i].Producto.PrdCodigo;
                                                importe = Model.OrdenCompraDetalleModels[i].Producto.PrdPrecioUnidad * Model.OrdenCompraDetalleModels[i].OcdCantidad;
                                                importeFmt = importe.ToString().Replace(",", "."); //String.Format("{0:#,##0.00}", importe);
                                                subTotal = importe; //+ montoIva;
                                                subTotalFmt = subTotal.ToString().Replace(",", ".");  //  String.Format("{0:#,##0.00}", subTotal);
                                                nombre = Model.OrdenCompraDetalleModels[i].Producto.PrdNombre;
                                                cantidad = Model.OrdenCompraDetalleModels[i].OcdCantidad;                                                
                                                unidadMedida = Model.OrdenCompraDetalleModels[i].Producto.PrdCantPorUnidad;
                                                precioUnidad = Model.OrdenCompraDetalleModels[i].Producto.PrdPrecioUnidad;
                                                precioUnidadFmt = precioUnidad.ToString().Replace(",", "."); //String.Format("{0:#,##0.00}", precioUnidad);    //ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"));

                                                totImporte = totImporte + importe;
                                                totSubTotal = totSubTotal + subTotal;

                                                totImporteFmt = totImporte.ToString().Replace(",", ".");   //   String.Format("{0:#,##0.00}", totImporte);                                                
                                                totSubTotalFmt = totSubTotal.ToString().Replace(",", ".");  // String.Format("{0:#,##0.00}", totSubTotal);

                                                <tr role="row" class="odd">
                                                    @Html.HiddenFor(x => x.OrdenCompraDetalleModels[i].Id)
                                                    @Html.HiddenFor(x => x.OrdenCompraDetalleModels[i].ProductoId)

                                                    <td style="color:black;">
                                                        @codigo
                                                        @Html.TextBoxFor(x => x.OrdenCompraDetalleModels[i].Producto.PrdCodigo, new { @class = "input-lg", @readonly = "readonly", @hidden="true" })
                                                    </td>
                                                    <td style="color:black;">
                                                        @nombre
                                                        @Html.TextBoxFor(x => x.OrdenCompraDetalleModels[i].Producto.PrdNombre, new { @class = "input-lg", @readonly = "readonly", @hidden="true" })
                                                    </td>
                                                    <td style="color:black;color:black;font-size:small">
                                                        @unidadMedida
                                                        @Html.TextBoxFor(x => x.OrdenCompraDetalleModels[i].Producto.PrdCantPorUnidad, new { @class = "input-lg", @readonly = "readonly", @hidden="true" })
                                                    </td>
                                                    <td style="text-align:center;color:black;">
                                                        @cantidad
                                                        @Html.TextBoxFor(x => x.OrdenCompraDetalleModels[i].OcdCantidad, new { @class = "input-lg", @readonly = "readonly", @hidden="true" })
                                                    </td>
                                                    <td style="text-align:right;color:black;">
                                                        @precioUnidadFmt
                                                    </td>
                                                    <td style="text-align:right;color:black;">
                                                        @importeFmt
                                                    </td>

                                                    <td style="text-align:center;color:black;">
                                                        <a onclick="EditRow(this);"><i class="icon-pencil7"></i></a>
                                                        <a onclick="DeleteRow(this);"><i class="icon-trash"></i></a>
                                                    </td>

                                                </tr>
                                            }                                

                                        }


                                    }

                                </tbody>

                            </table>
                            <!-- <input id="SubImporte" class="form-control" hidden value=totImporte /> -->
                            <input id="SubIva" class="form-control" hidden value=@totIva />
                            <!-- <input id="SubTot" class="form-control" hidden value= totSubTotal /> -->
                            <input id="SubTot" class="form-control" type="text" value=@totSubTotalFmt hidden />
                            <!-- Area de linea de agregar, Totales -->
                            <table class="table table-striped table-bordered" id="tablaDetalleTotal" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr class="bg-gradient-dark" role="row">
                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 12%; text-align:center;"></th>
                                        <th tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 31%; text-align:center;"></th>
                                        <th tabindex="2" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 13%; text-align:center;"></th>
                                        <th tabindex="3" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 8%; text-align:center;"></th>
                                        <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 11%; text-align:center;"></th>
                                        <th tabindex="5" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 13%; text-align:center;"></th>
                                        <th tabindex="6" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;"></th>
                                        <th tabindex="7" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 10%; text-align:center;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td style="color:black;">
                                            <button type="button" class="btn btn-labeled btn-sm" data-toggle="modal" data-target="#modalAddRow" style="background:#4E73DF; color:white;">
                                                <b>
                                                    <i class="icon-plus3"></i>
                                                </b> Agregar
                                            </button>
                                        </td>
                                        <td style="color:black;"></td>
                                        <td style="text-align:center;color:black;"></td>
                                        <td colspan="2" style="text-align:right;color:black;color:black;font-weight: bold;">
                                            SubTotales:
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;">
                                            <input id="SubImporte" class="form-control" type="text" style="height:29px; text-align:right;color:black;font-weight:bold;" value=@totImporteFmt readonly />
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;"></td>
                                        <td style="text-align:right;color:black;font-weight: bold;"></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td style="color:black;"></td>
                                        <td style="color:black;"></td>
                                        <td style="text-align:right;color:red;font-weight: bold;" colspan="2">
                                            Descuento (%):
                                        </td>
                                        <td style="color:black;color:black;">
                                            <input id="Descuento" class="form-control decimales" type="text" style="height:29px; text-align:right;color:black;" onblur="PorcDescuento();">
                                        </td>
                                        <td style="text-align:right;color:red;font-weight: bold;">
                                            <input id="TotDescuento" class="form-control" type="text" style="height:29px; text-align:right;color:black;font-weight:bold;" readonly="">
                                        </td>
                                        <td style="text-align:right;color:red;font-weight: bold;"></td>
                                        <td style="text-align:right;color:red;font-weight: bold;"></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td style="color:black;"></td>
                                        <td style="color:black;"></td>
                                        <td style="text-align:right;color:black;font-weight: bold;" colspan="2">
                                            @nombreImp:
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;">
                                            <input id="Iva" class="form-control decimales" type="text" style="height:29px;text-align:right;color:black;" value=@iva onblur="PorcIva();" />
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;">
                                            <input id="TotIva" class="form-control" type="text" style="height:29px; text-align:right;color:black;font-weight:bold;" readonly />
                                        </td>
                                        <td style="text-align:center;color:black;"></td>
                                        <td style="color:black;color:black;"></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td style="color:black;"></td>
                                        <td style="color:black;"></td>
                                        <td style="text-align:center;color:black;"></td>
                                        <td style="text-align:right;color:black;font-weight: bold;" colspan="2">
                                            Gastos Adicionales:
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;">
                                            <input id="Gasto" class="form-control decimales" type="text" style="height:29px;text-align:right;color:black;" onblur="Gastos();" />
                                        </td>
                                        <td style="color:black;color:black;"></td>
                                        <td style="text-align:center;color:black;"></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td style="color:black;"></td>
                                        <td style="color:black;"></td>
                                        <td style="text-align:center;color:black;"></td>
                                        <td style="text-align:right;color:blue;font-weight: bold;" colspan="2">
                                            Total Orden:
                                        </td>
                                        <td style="text-align:right;color:blue;font-weight: bold;">
                                            <input id="TotalODC" class="form-control" type="text" style="height:29px; text-align:right; color:black;font-weight:bold;" readonly />
                                        </td>
                                        <td style="text-align:right;color:black;font-weight: bold;"></td>
                                        <td style="text-align:center;color:black;"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="linea"></div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="OccObservaciones" class="control-label"></label>
                            <textarea asp-for="OccObservaciones" class="form-control" type="text" rows="3" cols="100" style="overflow:auto;resize:none;text-wrap:normal;scrollbar-base-color:ActiveBorder;overflow-y:scroll;height:auto" ></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <input id="ProductoInicial" class="form-control" hidden value=@ProductoId />
        <input asp-for="OccIVA" class="form-control" hidden />
        <input asp-for="OccDescuento" class="form-control" hidden />
        <input asp-for="OccGasto" class="form-control" hidden />
        <input asp-for="OccDireccion" class="form-control" hidden />
        <input asp-for="OccTelefonos" class="form-control" hidden />
        <input asp-for="OccCorreosElec" class="form-control" hidden />
    </form>
</div>

<!-- modal busqueda de proveedores-->
<div id="modalSearch" class="modal fade">
    <div class="modal-dialog form-validate-jquery" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h4 class="modal-title">Buscar Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal">X</button>                
            </div>

            <div id="cajaGrid">
            </div>
            <input id="IdProveedor" type="text" hidden />
            <div class="modal-footer">
                <div class="nav navbar-right" style="padding-right: 10px;">
                    <button type="submit" id="Buscar" class="btn bg-success btn-labeled btn-sm" data-dismiss="modal" style="color:white;" onclick="SearchProv()">
                        <b>
                            <i class="glyphicon glyphicon-floppy-saved"></i>
                        </b> Confirmar
                    </button>
                    <button type="button" class="btn bg-danger btn-labeled btn-sm" data-dismiss="modal" style="margin-top: 0px;color:white;">
                        <b>
                            <i class="glyphicon glyphicon-floppy-remove"></i>
                        </b> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal add row Agregar Item -->
<div id="modalAddRow" class="modal fade">
    <div class="modal-dialog form-validate-jquery">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h4 class="modal-title">Agregar Productos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label class="control-label">Productos</label>
                        <select class="form-control custom-select" id="ProductoId" asp-items=@ViewBag.Productos onblur="BuscaProducto();"></select>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <label class="control-label">Cantidad</label>
                        <input id="Cantidad" class="form-control decimales" type="text" onblur="ValidaCantidad();"/>
                    </div>

                    <!-- <div class="form-group has-feedback has-feedback-left">
                         <label class="control-label">Unidad de Medida</label> 
                         <select class="form-control custom-select" id="UnidadMedidaId" asp-items= ViewBag.UnidadesMedida></select>
                     </div> -->

                </div>
                <input id="jcodigo" type="text" hidden />
                <input id="jnombre" type="text" hidden />
                <input id="jcantPorUnidad" type="text" hidden />
                <input id="jprecioUnidad" type="text" hidden />
                <input id="jstockMinimo" type="text" hidden />
                <input id="jstock" type="text" hidden />
            </div>

            <div class="modal-footer">
                <div class="nav navbar-right" style="padding-right: 10px;">
                    <button type="submit" id="addRowTable" class="btn bg-success btn-labeled btn-sm" style="color:white;">
                        <b>
                            <i class="glyphicon glyphicon-floppy-saved"></i>
                        </b> Confirmar
                    </button>
                    <button type="button" class="btn bg-danger btn-labeled btn-sm" data-dismiss="modal" style="margin-top: 0px;color:white;">
                        <b>
                            <i class="glyphicon glyphicon-floppy-remove"></i>
                        </b> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/Libreria.js"></script>
    <script src="~/js/currency.min.js"></script>
    <script type="text/javascript">

        const SINFP = value => currency(value, { symbol: '', decimal: '.', separator: ',' });

        $("#DatosProv").hide();

        $("#IdProveedor").val($("#ProveedorId").val());

        var direccion;
        var telefonos;
        var correos;
        direccion="";
        telefonos="";
        correos="";


        $(document).ready(function () {

            $("#cajaGrid").load("/OrdenCompra/_Proveedores");  // Cargar datos de modal para el grid de selección
            if ($("#IdProveedor").val() != 0) {
                SearchProv();
            }
            PorcDescuento();
            PorcIva();
            Gastos();

            direccion=$('#DireccionProv').val();     
            telefonos=$('#TelefonosProv').val();
            correos  =$('#CorreosProv').val();
        });

        // Buscar proveedor
        function SearchProv() {
            var Id;
            Id = 0;
            Id = $("#IdProveedor").val();

            if (Id > 0) {
                $.ajax({
                    url: '@Url.Action("BuscaProveedor", "OrdenCompra")',
                    type: 'POST',
                    data: { id: Id },
                    success: function (result) {

                        $("#NombreProv").val(result.prvNombreCompania);
                        $("#DireccionProv").val(result.prvDireccion);
                        var telef1;
                        var telef2;
                        telef1 = (result.prvTelefono1 == null) ? "" : result.prvTelefono1;
                        telef2 = (result.prvTelefono2 == null) ? "" : result.prvTelefono2;
                        if (telef1 != "" && telef2 != "") {
                            $("#TelefonosProv").val(telef1 + ", " + telef2);
                        } else {
                            if (telef1 != "" && telef2 == "") {
                                $("#TelefonosProv").val(telef1);
                            }
                        }

                        var correo1;
                        var correo2;
                        correo1 = (result.prvCorreoE1 == null) ? "" : result.prvCorreoE1;
                        correo2 = (result.prvCorreoE2 == null) ? "" : result.prvCorreoE2;

                        if (correo1 != "" && correo2 != "") {
                            $("#CorreosProv").val(correo1 + ", " + correo2);
                        } else {
                            if (correo1 != "" && correo2 == "") {
                                $("#CorreosProv").val(correo1);
                            }
                        }


                        $("#DatosProv").show();
                    },
                    error: function (result) {
                    }
                });
                direccion = $('#DireccionProv').val();
                telefonos = $('#TelefonosProv').val();
                correos = $('#CorreosProv').val();

            }
        }

        // Abrir/cerrar los datos del proveedor
        $("#BarraTituloProv").on("click", function () {
            $("#DatosProv").toggle();
        });

        // $("#StateId").change(function () {
        //     var stateId = $(this).val();
        //     $.ajax({
        //         type: "Get",
        //         url: "/Urbanization/GetCityList?stateId=" + stateId,
        //         contentType: "html",
        //         success: function (response) {
        //             $("#CityId").empty();
        //             $("#CityId").append(response);

        //             $("#MunicipalityId").empty();
        //             $("#UrbanizationId").empty();
        //         }
        //     })
        // });

        // Agregar linea a la tabla
        $('#addRowTable').on('click', function () {
            
            var IdProd;
            IdProd = $("#ProductoId").val();
            var CodProd;
            CodProd = $("#jcodigo").val();
            if (IdProd !== "" && CodProd=="") {
                
                BuscaProducto();
            }

            var idNumber = GetLastChildId($('#tablaDetalle'));
            var table = $('#tablaDetalle')[0].children[1];

            var codigo = $('#jcodigo').val();
            var nombre = $('#jnombre').val();
            var cantidad = $('#Cantidad').val();
            if (cantidad.search(',') != -1) {
                cantidad = cantidad.replace(',', '.');
            }
            if (cantidad == "")
                cantidad = 1;
            var unidadMedida = $('#jcantPorUnidad').val();
            var precioUnidad = $('#jprecioUnidad').val();
            if (precioUnidad.search(',') != -1) {
                precioUnidad = precioUnidad.replace(',', '.');
            }
            var importe = Number(precioUnidad)*Number(cantidad);  //parseFloat(precioUnidad)*parseFloat(cantidad);
            importe = importe.toFixed(2);
            var montoIva = importe * 0.12;
            montoIva = montoIva.toFixed(2);
            var subTotal = Number(importe); //+ Number(montoIva);
            subTotal = Number(subTotal);
            subTotal = subTotal.toFixed(2);

            var importeCtr= $('#SubImporte').val();
            importeCtr = Number(FormatoCurr(importeCtr));
            var montoRes = Number(importe) + importeCtr
            //FormateaNum(montoRes);
            //$('#SubImporte').val(SINFP(montoRes).format());
            $('#SubImporte').val(currency(montoRes));

            //$('#SubImporte').val(Number(importe) + importeCtr);

            var subTotCtr = $('#SubTot').val();
            subTotCtr = Number(FormatoCurr(subTotCtr));
            var subTotRes = Number(subTotal) + subTotCtr;
            $('#SubTot').val(currency(subTotRes));

            PorcDescuento();
            PorcIva();
            Gastos();
            if (codigo !== "") { 
                $(table).append(
                    '<tr role="row" class="odd">' +
                    '<input data-val="true" data-val-required="The Id field is required." id="OrdenCompraDetalleModels_' + idNumber + '__Id" name="OrdenCompraDetalleModels[' + idNumber + '].Id" type = "hidden" value="0">'+
                    '<input data-val="true" data-val-required="The ProductoId field is required." id="OrdenCompraDetalleModels_' + idNumber + '__ProductoId" name="OrdenCompraDetalleModels[' + idNumber + '].ProductoId" type="hidden" value="' + $('#ProductoId').val() +'">'+                

                    '<td style="color:black;">' +
                    codigo+
                    '<input class="input-lg valid" id="OrdenCompraDetalleModels_' + idNumber + '__Producto_PrdCodigo" name="OrdenCompraDetalleModels[' + idNumber + '].Producto.PrdCodigo" readonly="readonly" type="text" value="' + codigo + '" aria-invalid="false" hidden>' +
                    '</td>' +
                    '<td style="color:black;">' +
                    nombre+
                    '<input class="input-lg valid" id="OrdenCompraDetalleModels_' + idNumber + '__Producto_PrdNombre" name="OrdenCompraDetalleModels[' + idNumber + '].Producto.PrdNombre" readonly="readonly" type="text" value="' + nombre + '" aria-invalid="false" hidden>' +
                    '</td>' +
                    '<td style="color:black;color:black;font-size:small">' +
                    unidadMedida +
                    '</td>' +
                    '<td style="text-align:center;color:black;">' +
                    '<input class="input-lg valid" id="OrdenCompraDetalleModels_' + idNumber + '__OcdCantidad" name="OrdenCompraDetalleModels[' + idNumber + '].OcdCantidad" readonly="readonly" type="text" value="' + cantidad + '" aria-invalid="false" hidden>' +
                    cantidad+
                    '</td>' +
                    '<td style="text-align:right;color:black;">' +
                    precioUnidad +
                    '</td>' +
                    '<td style="text-align:right;color:black;">' +
                    importe +
                    '</td>' +
                    //'<td style="text-align:right;color:black;">' +
                    //montoIva +
                    //'</td>' +
                    //'<td style="text-align:right;color:black;">' +
                    //subTotal +
                    //'</td>' +

                    '<td style="text-align:center;color:black;">' +
                    '<a onclick="EditRow(this);"><i class="icon-pencil7"></i></a>  ' +
                    '<a onclick="DeleteRow(this);"><i class="icon-trash"></i></a>' +
                    '</td>' +
                    '</tr>'
                );
            
                CleanModalAdd();
            }
        });

        function GetLastChildId(parentElement) {
            return parentElement[0].children[1].children.length;
        }

        //Delete row
        function DeleteRow(object) {
            for (var x = 0; x < 15; x++) {
                if (object.tagName == "TR") {
                    break;
                }
                else {
                    object = object.parentNode;
                }
            }
            var parentTbody = object.parentNode;

            var itemImporte = object.children[7].textContent;
            var itemSubTotal= object.children[8].textContent;

            var subImporte = $('#SubImporte').val();
            if (subImporte == "")
                subImporte = 0;

            var subSubTot= $('#SubTot').val();
            if (subSubTot == "")
                subSubTot = 0;

            $('#SubImporte').val(currency(Number(subImporte) - Number(itemImporte)));
            $('#SubTot').val(currency(Number(subSubTot)-Number(itemSubTotal)));

            PorcDescuento();
            PorcIva();
            Gastos();


            $(object).remove();
        }

        // Edit row
        function EditRow(object) {
            for (var x = 0; x < 15; x++) {
                if (object.tagName == "TR") {
                    break;
                }
                else {
                    object = object.parentNode;
                }
            }
            id = object.children[0];
            actividadid = object.children[1];
            estatusid = object.children[2];
            actividad = object.children[3];
            fechaini = object.children[4].children[0];
            fechafin = object.children[5].children[0];
            estatus = object.children[6];

            $("#IdActividad1").val(actividadid.value).trigger('change.select');
            $("#FechaIni1").val(fechaini.value);
            $("#FechaFin1").val(fechafin.value);
            $("#IdEstatus1").val(estatusid.value).trigger('change.select');

            $("#modalEditRow").modal('show');
        }

        // Editar
        $('#editRowTable').on('click', function () {
            actividadid.value = $("#IdActividad1 option:selected").val();
            actividad.innerText = $("#IdActividad1 option:selected").text();
            fechaini.value = $("#FechaIni1").val();
            fechafin.value = $("#FechaFin1").val();
            estatusid.value = $("#IdEstatus1 option:selected").val();
            estatus.innerText = $("#IdEstatus1 option:selected").text();
            CleanModalAdd();
        });

        // Limpiar campos modal form
        function CleanModalAdd() {
            $("#IdActividad").val('0').trigger('change');
            $("#FechaIni").val('');
            $("#FechaFin").val('');
            $("#IdEstatus").val('0').trigger('change');
        }


        // Buscar datos adicionales del producto seleccionado
        function BuscaProducto() {
            var Id;
            Id = 0;
            Id = $("#ProductoId").val();            
            if (Id == "") {
                Id = $("#ProductoInicial").val();
            }
            $.ajax({
                url: '@Url.Action("BuscaProducto", "OrdenCompra")',
                type: 'POST',
                data: { id: Id },                
                success: function (result) {
                    $("#jcodigo").val(result.jcodigo);
                    //document.getElementById("jcodigo").value = result.jcodigo;
                    $("#jnombre").val(result.jnombre);
                    $("#jcantPorUnidad").val(result.jcantPorUnidad);
                    $("#jprecioUnidad").val(result.jprecioUnidad);
                    $("#jstockMinimo").val(result.jstockMinimo);
                    $("#jstock").val(result.jstock);
                },
                error: function (result) {
                }
            });
        }

        // Calculo de descuento, por Porcentaje
        function PorcDescuento() { 
            var porcImpCtr = $('#Descuento').val();
            var porcentaje = Number(FormatoCurr(porcImpCtr));
            var importeCtr = $('#SubImporte').val();
            var importe = Number(FormatoCurr(importeCtr));
            var calcImporte = importe - ((porcentaje * 0.01) * importe);
            $('#TotDescuento').val(calcImporte.toFixed(2));        
            TotalizaODC();
        }

        // Calculo del IVA, por porcentaje 
        function PorcIva() {
            var porcIva = $('#Iva').val();
            var porcentaje = Number(FormatoCurr(porcIva));
            var descuentoCtr = $('#TotDescuento').val();
            var descuento = Number(FormatoCurr(descuentoCtr));
            var calcIva = descuento * (porcentaje * 0.01);
            $('#TotIva').val(calcIva.toFixed(2));
            TotalizaODC();
        }

        // Calculo de gastos
        function Gastos() {
            var mtoGasto=$('#Gasto').val();
            var gasto = Number(FormatoCurr(mtoGasto));
            if (gasto >= 0) {
                TotalizaODC();
                return true;
            } else {
                return false;
            }
        }

        function TotalizaODC() {
            var subDescuento = $('#TotDescuento').val();
            var iva = $('#TotIva').val();
            var gasto = $('#Gasto').val();

            var tDescuento = 0;
            if (subDescuento != "") 
                tDescuento=Number(subDescuento);

            var tIva = 0;
            if(iva!=0)
                tIva=Number(iva);

            var tGasto = 0;
            if(gasto!=0)
                tGasto=Number(gasto);

            var total=0;
            total = tDescuento + tIva + tGasto;

            var totalFmt = FormatoCurr(total.toString());

            $('#TotalODC').val(totalFmt);

        }

        // Validar cantidad
        function ValidaCantidad() {
            var valor = $('#Cantidad').val();
            var cantidad = Number(valor);
            if (cantidad > 0) {                
                return true;
            } else {
                if (cantidad == 0) {
                    $('#Cantidad').val(1);
                } else {
                    return false;
                }                
            }

        }

        // Check de misma direccion
        $('#OccMismaDireccion').on('change', function () {
            var valor = document.getElementById('OccMismaDireccion').checked;
            if (valor == false) {
                document.getElementById('DireccionProv').readOnly = false;
                document.getElementById('TelefonosProv').readOnly = false;
                document.getElementById('CorreosProv').readOnly = false;
                if (confirm("¿ Borra el contenido de la dirección, teléfonos y correos electrónicos ? ")) {
                    direccion = $('#DireccionProv').val();
                    telefonos = $('#TelefonosProv').val();
                    correos = $('#CorreosProv').val();

                    $('#DireccionProv').val('');     
                    $('#TelefonosProv').val('');
                    $('#CorreosProv').val('');

                } 

            } else {
                document.getElementById('DireccionProv').readOnly = true;
                document.getElementById('TelefonosProv').readOnly = true;
                document.getElementById('CorreosProv').readOnly = true;
                $('#DireccionProv').val(direccion);
                $('#TelefonosProv').val(telefonos);
                $('#CorreosProv').val(correos);

            }

        });

        // Actualizar datos al salir
        window.onsubmit = function () {
            $("#ProveedorId").val($("#IdProveedor").val());
            $("#OccIVA").val($("#Iva").val());
            $("#OccDescuento").val($("#Descuento").val());
            $("#OccGasto").val($("#Gasto").val());
            if ($("#OccIVA").val() == "")
                $("#OccIVA").val(0);
            if ($("#OccDescuento").val() == "")
                $("#OccDescuento").val(0);
            if ($("#OccGasto").val() == "")
                $("#OccGasto").val(0);

            var valor = document.getElementById('OccMismaDireccion').checked;
            if (valor == false) {
                $("#OccDireccion").val($('#DireccionProv').val());
                $("#OccTelefonos").val($('#TelefonosProv').val());
                $("#OccCorreosElec").val($('#CorreosProv').val());
            }
            else {                
                $("#OccDireccion").val("");
            }
        };

        function Cancel() {
            window.location.href = "/OrdenCompra/Index";
        }




        // function MismaDireccion() {
        //     var valor = $('#OccMismaDireccion').val();
        //     if (valor == "true") {
        //         document.getElementById('DireccionProv').readOnly = false;
        //         document.getElementById('TelefonosProv').readOnly = false;
        //         document.getElementById('CorreosProv').readOnly = false;
        //     } else {
        //         document.getElementById('DireccionProv').readOnly = true;
        //         document.getElementById('TelefonosProv').readOnly = true;
        //         document.getElementById('CorreosProv').readOnly = true;
        //     }

        // }


    </script>
}




