@model Inventario.Models.ProductoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titPantalla = "Producto";
    var fncPantalla = "Editar";

    // Set de campos input Date
    DateTime fechanac = DateTime.Today;
    var fechaini = fechanac.ToString("yyyy-MM-dd");


}

<div class="container-fluid">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 barra-titulo-form barra-titulo-form">
                <b>@titPantalla</b> - @fncPantalla
                <div class="nav navbar-right" style="padding-right: 10px">
                    <button type="submit" class="btn btn-danger bg-slate-600 btn-labeled btn-sm mr-2">
                        <b>
                            <i class="icon-checkmark3"></i>
                        </b> Confirmar
                    </button>

                    <button type="button" onclick="Cancel();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm">
                        <b>
                            <i class="icon-exit3"></i>
                        </b> Salir
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PrdCodigo" class="control-label"></label>
                            <input asp-for="PrdCodigo" class="form-control" />
                            <span asp-validation-for="PrdCodigo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PrdNombre" class="control-label"></label>
                            <input asp-for="PrdNombre" class="form-control" />
                            <span asp-validation-for="PrdNombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CatId" class="control-label"></label>
                            <select class="form-control custom-select" asp-for="CatId" asp-items=@ViewBag.Categorias></select>
                            <span asp-validation-for="CatId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PrvId" class="control-label"></label>
                            <select class="form-control custom-select" asp-for="PrvId" asp-items=@ViewBag.Proveedor></select>
                            <span asp-validation-for="PrvId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="linea"></div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @*Cantidad*@
                            <label asp-for="PrdStock" class="control-label"></label>
                            <input asp-for="PrdStock" class="form-control" />
                            <span asp-validation-for="PrdStock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @*Minimo*@
                            <label asp-for="PrdStockMinimo" class="control-label"></label>
                            <input asp-for="PrdStockMinimo" class="form-control" />
                            <span asp-validation-for="PrdStockMinimo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PrdCantPorUnidad" class="control-label"></label>
                            <input asp-for="PrdCantPorUnidad" class="form-control" />
                            <span asp-validation-for="PrdCantPorUnidad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PrdPrecioUnidad" class="control-label"></label>
                            <input asp-for="PrdPrecioUnidad" class="form-control" />
                            <span asp-validation-for="PrdPrecioUnidad" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PrdEstatus" class="control-label"></label>
                            <select class="form-control custom-select" asp-for="PrdEstatus" asp-items=@ViewBag.Estatus></select>
                            <span asp-validation-for="PrdEstatus" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="linea"></div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        @* <div class="form-group"> *@
                            <label asp-for="PrdFoto1" class="control-label"></label>
                            <img src="" width="100" height="100" id="foto1">
                            <div class="thumbnail no-padding">
                                
                                <div class="text-right">
                                    @* <input type="file" asp-for="File1" class="file-input" data-show-upload="false" accept="image/*" onchange="MostrarImg(1);"> *@
                                    <input type="file" id="File1" class="file-input" data-show-upload="false" accept="image/*" onchange="MostrarImg(1);">
                                </div>
                                @* <div class="caption text-center">
                                    <h6 class="text-semibold no-margin"><small class="display-block">@Localizer["Picture"]</small></h6>
                                </div> *@
                                
                            </div>
                            <input asp-for="PrdFoto1" class="form-control" hidden />

                        @* </div> *@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PrdFoto2" class="control-label"></label>
                            <img src="" width="100" height="100" id="foto2">
                            <div class="thumbnail no-padding">
                                
                                <div class="text-right">
                                        @* <input type="file" asp-for="File2" class="file-input" data-show-upload="false" accept="image/*" onchange="MostrarImg(2);"> *@
                                    <input type="file" id="File2" class="file-input" data-show-upload="false" accept="image/*" onchange="MostrarImg(2);">
                                </div>
                                @* <div class="caption text-center">
                                <h6 class="text-semibold no-margin"><small class="display-block">@Localizer["Picture"]</small></h6>
                                </div> *@
                                
                            </div>
                            <input asp-for="PrdFoto2" class="form-control" hidden />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

@section Scripts {
   @*  <script src="~/js/Libreria.js"></script> *@
    <script type="text/javascript">

        //CalculoEdad();

        $(document).ready(function () {

            MostrarImg(3);            


            /*
            CargarCiudades();
            CargarMunicipios();


            $("#EstadoId").change(function () {
                CargarCiudades();
                CargarMunicipios();
            });

            $("#CiudadId").change(function () {
                CargarMunicipios();
            });
            */

        });


        function CargarCiudades() {
            var estadoid = $('#EstadoId').val();
            if (estadoid != "") {
                $.ajax({
                    url: '@Url.Action("LlenarCiudad", "Socios")',
                    //url: "/Socios/LlenarCiudad/",
                    data: { estadoid: estadoid },
                    type: 'POST',
                    success: function (result) {
                        //console.log(result);
                        $("#CiudadId").empty();
                        $.each(result, function (index, row) {
                            $("#CiudadId").append("<option value='" + row.id + "'>" + row.name + "</option>")
                        });
                        $("#CiudadId").val($("#CiudadId").val()).trigger('change');  // Solo cuando se desea busqueda
                    },
                    error: function (result) {
                    }
                });

            }
        }

        function CargarMunicipios() {
            var ciudadid = $('#CiudadId').val();
            if (ciudadid != "") {
                $.ajax({
                    url: '@Url.Action("LlenarMunicipio", "Socios")',
                    data: { ciudadid: ciudadid },
                    type: 'POST',
                    success: function (result) {
                        //console.log(result);
                        $("#MunicipioId").empty();
                        $.each(result, function (index, row) {
                            $("#MunicipioId").append("<option value='" + row.id + "'>" + row.name + "</option>")
                        });
                        $("#MunicipioId").val($("#MunicipioId").val()).trigger('change');  // Solo cuando se desea busqueda
                    },
                    error: function (result) {
                    }
                });
            }
        }


        function Cancel() {
            window.location.href = "/Producto/Index";
        }

        // function MostrarImg(opt) {
        //     let nomImg = "";
        //     let pos = 0;
        //     let nomDef = "";
        //     if (opt == 1) {
        //         nomImg = File1.value;
        //         pos = nomImg.lastIndexOf("\\");
        //         nomDef = nomImg.substr(pos + 1);
        //         document.getElementById("foto1").src = "/FotosProductos/" + nomDef;
        //         $("#PrdFoto1").val(nomDef);
        //         //document.getElementById("File1").src = "/FotosProductos/" + nomDef;

        //     }
        //     else if (opt == 2) {
        //         nomImg = File2.value;
        //         pos = nomImg.lastIndexOf("\\");
        //         nomDef = nomImg.substr(pos + 1);
        //         document.getElementById("foto2").src = "/FotosProductos/" + nomDef;
        //         $("#PrdFoto2").val(nomDef);
        //         //document.getElementById("File2").src = "/FotosProductos/" + nomDef;
        //     }
        //     else {
        //         nomDef = $("#PrdFoto1").val();
        //         document.getElementById("foto1").src = "/FotosProductos/" + nomDef;
        //         nomDef = $("#PrdFoto2").val();
        //         document.getElementById("foto2").src = "/FotosProductos/" + nomDef;

        //         //uploadFiles('File1');

        //     }

        // }



        function uploadFiles(inputId) {
            // var input = document.getElementById(inputId);
            // var files = input.files;
            // var formData = new FormData();

            // for (var i = 0; i != files.length; i++) {
            //     formData.append("files", files[i]);
            // }

            var formData = new FormData(document.getElementById(inputId));
            //formData.append("dato", "valor");
            formData.append("files", { name: "2.jpg", lastModified: 1681191864000, size: 13019, type: "image/jpeg" });

            //formData.append("files", files);
            //if (files.length > 0) {
                $.ajax(
                    {
                        url: "@Url.Action("UploadFiles3", "Producto")",
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data.length > 0) {
                                for (var x = 0; x != data.length; x++) {
                                    ListFiles.push(data[x]);
                                }
                            }

                            alert("Files Uploaded!");

                        }
                    }
                );
            //}
        }


    </script>
}




